// FONTS

$ff-primary: 'Inter';
$ff-nunito: 'Nunito', sans-serif;

$ff-body: $ff-primary;
$ff-heading: $ff-primary;

$fw-thin: 100;
$fw-regular: 400;
$fw-bold: 900;

$fs-italic: italic;

// Font sizes
:root {
  --fs-s: 1rem;
  --fs-m: 4.5rem;
  --fs-l: 6rem;
  --fs-xl: 8rem;
  --fs-xxl: 14rem;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fs-italic {
  font-style: italic;
}

.align-left {
  text-align: left;
}

.big-title {
    font-size: clamp(24px, 5vw, 5rem);
    font-weight: 900;
    text-align: left;
    color: white;
    position: relative;
    width: max-content;
    &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 25px;
      background-color: yellow;
      bottom: -10px;
      right: 0px;
    }
}
