.inner {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    background-color: #131313;
    color: white;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px 0 rgba(52, 52, 52, 0.317);
    .event_info {
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .date_area {
            text-align: left;
            gap: 1rem;
            font-weight: bold;
            svg {
                width: 30px;
                vertical-align: middle;
                margin-right: 0.5rem;
                fill: white;
            }
        }
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: left;
        }
        p {
            text-align: left;
        }
    }
}


.box {
    height: 300px;
    width: 250px;
    border-radius: 1rem;
    .card_image {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        img {
            border-radius: 0.5rem;
        }
    }
}