
.info_grid {
    gap: 1px; // Espacio entre las filas y columnas
    width: 100%;
    color: black;
    .table_head,
    .table_row {
        div {
            padding: 8px; 
            border: 1px solid #e0e0e0;
            background-color: #fff; // Color de fondo para las 'celdas'
        }
    }

    .table_head {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        div {
            background-color: #f5f5f5; // Color de fondo para la cabecera
            font-weight: bold;
        }
    }
    .table_row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .sort_button {
        cursor: pointer;
        transition: background-color 100ms linear;
        &:hover {
            background-color: lightblue;
        }
    }
}