@import '../../styles/functions';

.price_grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .ticket_form {
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .buy {
        margin-inline: auto;
        button {
            background-color: #02fba0;
            color: white;
            border-radius: 10rem;
            padding: 0.5rem 1rem;
        }

    }

}
