.main_pay_button {
    background-color: #b5f4b8;
    border: none;
    padding: 1rem 2rem;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    width: max-content;
    margin: 0 auto;
    box-shadow: 0px 0px 0px 0px #a0d8a3;
    transition: box-shadow 200ms linear;
    &.disabled {
        opacity: 0.8;
        cursor: auto;
        filter: grayscale(0.5);
    }
    &:not(.disabled) {
        &:hover {
            box-shadow: 0px 0px 0px 3px #a0d8a3;
        }
    }
}